.wrapper {
    width: 650px;
    height: 540px;
    margin: 50px auto 0;
    border: 2px solid gray;
}
div {
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
}
.div1 {
    background-color: black;
}

.div2 {
    background-color: #505050;
    position: relative;
    margin-top: 70px;
    margin-left: -75px;
}
